/*导航栏*/
#logo{
    float:left;
}
#logo img{
    width:80px;
    height:auto;
    top:15px;
    left:140px;
    position: absolute;
    padding:2px;
    /*background-color:#FFD98E;*/
    border-radius:80px;


}

#contents{
    /*background-color:#FFD98E;*/
    /*width:100%;*/
    height:68px;
    padding: 0 0 0 250px;
}
#contents li{
    float:left;
    font-family:'方正准圆简体';
    font-size:40px;
    list-style-type:none;
    line-height:70px;
    letter-spacing:8px;
}
#contents li a{
    padding:11px 50px 11px 50px;
}