a{color:white;}
#login_box{
    background-color:#AB91B4;
    line-height:25px;
}
/*导航栏*/
#nav{
    width:100%;
    height:570px;
    background-color:#86509C;
}

#contents{
    width:1110px;
    height:200px;
    margin:0 auto;
    overflow: visible;

}

#contents li{
    float:left;
    font-family:'方正准圆简体';
    font-size:40px;
    color:white;
    list-style-type:none;
    margin:60px 70px 0px 70px;
    line-height:60px;
}
#contents li a{color:white;}
#contents img{
    float:left;
    width:190px;
    margin:-55px -50px;
}

#round{
    margin:150px auto 0 auto;
    width:100%;
    text-align:center;
    font-size:60px;
    font-family: "Segoe Script";
    color:white;
    font-weight:bold;
}

#round span{
    margin:0 20px;
}


/*活动*/
#activity{
    background-color:#17c2a4;
    background-image:url('../IndexImg/actBg.png');
}
.mainBox{
    text-align:center;
    padding:40px 5% 0 5%;
    height:570px;
    width:auto;
    background-size:100% auto;
    background-repeat:no-repeat;
    background-position: bottom left;
}
.title{
    font-size:50px;
    line-height:60px;
    font-family:"方正康体简体";
    color:#FFFEFF;
    letter-spacing:10px;
}

.line{
    width:30%;
    margin:20px auto;
}

.brief{
    font-size:28px;
    line-height:40px;
    font-family:"华文仿宋";
    color:#FFFEFF;
}

    .go{
    font-family:"SimHei";
    color:#FFFEFF;
    font-size:24px;
    float:right;
}
.goText{
    border: 2px solid #16584E;
    padding:2px;
}

.go img{
    height:24px;
    width:auto;
}


/*公会*/
#club{
    background-color:#E7F2F8;
    background-image:url('../IndexImg/cluBg.png');
}

.cluTitle,.cluBrief,.cluGo{
    color:#3c4761;
}

.cluGoText{
    border: 2px solid #3c4761;
}

/*时光*/
#time{
    background-color:#FFFFFF;
    background-image:url('../IndexImg/timBg.png');
}

.timTitle,.timBrief,.timGo{
    color:#595ba8;
}

.timGoText{
    border: 2px solid #595ba8;
}

/*留言*/
#message{
    /*background-color:#FDD48B;*/
    background-image:url('../IndexImg/mesBg.png');
}

.mesTitle,.mesBrief,.mesGo{
    color:#393939;
}

.mesGoText{
    border: 2px solid #393939;
}


#toTop{
    width:40px;
    height:40px;
    background-color: #666666;
    float:right;
    text-align: right;
    overflow:hidden;
    position:fixed;
    bottom:40px;
    color:white;
    right:0;
    line-height:30px;
    cursor:pointer;

}

#toTop img{
    height:40px;
}