body{
    background-color:#EEB968;
}
a{
    color:#3E3D32;
}
/*登录*/
#login_box{
    background-color:#F9E5C0;
    /*text-align:right;*/
    line-height:40px;
}

#logo img{
    background-color:#FFD98E;
}

#contents{
    background-color:#FFD98E;
}

#contents li a{color:#5d5f78;}

#mesCont{
    background-color:#FEC279;
}

#main{
    background-color:#EEB968;
    background-image:url('../IndexImg/messageBg.png');
    background-repeat: no-repeat;
    padding:80px 0 0 0;
}

#toEdit{
    font-family:"SimHei";
    color:white;
    letter-spacing:13px;
    font-size:28px;
    text-align:center;
    padding:8px 0px 8px 13px;
    background-color:#EB7D4A;
    width:200px;
    box-shadow:0 5px 5px #C76A3E;
    margin:0 auto;
    display: block;
}

#mesBox{
    /*height:600px;*/
    width:850px;
    margin:200px auto 0 auto ;
    /*background-color:ghostwhite;*/
    padding:10px 0 40px 0;
}

#mes{
    padding:10px 0 0 0;
}

.boxImg{
    float:left;
    /*width:70px;*/
    /*height:70px;*/
    /*background-color:black;*/
}

.box{
    width:700px;
    display: block;
    height:auto;
    background-image:url("../IndexImg/mesTextBox.png");
    background-repeat:no-repeat;
    background-size:700px 100%;
    margin:10px 0 0 70px;
    padding:4px 0 0px 0;
}

.boxTop{
    margin:0 0 5px 30px;
}
.boxText{
    margin:0 0 0 40px;
    line-height: 22px;
    border-top:1px #D0D0D0 solid;
    padding:4px;
}

.boxReply{
    text-align: right;
    padding:0px 20px 5px 0;
    letter-spacing:4px;

}
.boxText,.boxReply,.boxTop{
    color:#3E3D32;
    font-family: "SimHei";
}
.boxName{
    font-weight: bold;
}





#edit{
    width:1000px;
    margin:50px auto 0 auto;
    filter:alpha(opacity=50);
    -moz-opacity:0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;
    /*text-align:right;*/

}

#textEditor{
    height:150px;
    max-height:200px;
    width:100%;
    margin-bottom:50px;
}


#mesSubmit{
    margin:2px 0 50px 0;
    float:right;
    padding:5px 12px 5px 12px;
    font-size:22px;
    font-family:"SimHei";
    background-color:#EB7D4A;
    color:white;
    letter-spacing:4px;
}

#mesSubmit:hover{
    cursor:pointer
}


#mention{
    color:red;
    float:right;
    margin:0 10px 0 0;
}