<link rel="stylesheet" type="text/css" href="__PUBLIC__/IndexCss/contentBox.css" />
<a href="http://localhost/CM-CLUB/index.php/Home/Index" id="logo"><img src="__PUBLIC__/IndexImg/logo.png"></a>
<ul id="contents">
    <li><a href="http://localhost/CM-CLUB/index.php/Home/Index/linkTo/aim/activity" id="actCont">活动</a></li>
    <li><a href="http://localhost/CM-CLUB/index.php/Home/Index/linkTo/aim/club" id="cluCont">班级</a></li>
    <li><a href="#time" id="timCont">时光</a></li>
    <li><a href="http://localhost/CM-CLUB/index.php/Home/Index/linkTo/aim/message" id="mesCont" >留言</a></li>
</ul>