<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CM-CLUB</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/IndexCss/Home.css" />
</head>
<body>
<div id='login_box'>
    <if condition="$log eq false">
        <span id="collect">关注我们</span>
        <span><a id='login' href="http://localhost/CM-CLUB/Index.php/Home/User/toLogin">登录</a></span>
        <span>/</span>
        <span><a id='register' href="http://localhost/CM-CLUB/Index.php/Home/User/toLogin#toregister">注册</a></span>
        <else />
        <span><a id='personal' href="#">{$username}</a></span>
    </if>
    <div/>
    <div id="nav">
        <ul id="contents">
            <li><a href="#activity">活动</a></li>
            <li><a href="#">公会</a></li>
            <li><a href="#"><img src="__PUBLIC__/IndexImg/logo.png"></a></li>
            <li><a href="#">时光</a></li>
            <li><a href="#">留言</a></li>
        </ul>
        <div id="round">
            <span>&nbsp;&nbsp;&nbsp;past</span>
            <span><img src="__PUBLIC__/IndexImg/round.png" ></span>
            <span>future</span>
        </div>
    </div>

    <div id="activity">
        <span class="title">{$arr['actTitle1']}</span>
        <span><img src="__PUBLIC__/IndexImg/arrowAct1.png"></span>
        <span class="title">{$arr['actTitle2']}</span>
        <!--<p class="line">123</p>-->
        <hr class="line">
        <p class="brief">
            {$arr['actBrief1']}<br/>
            {$arr['actBrief2']}<br/>
            {$arr['actBrief3']}
        </p>
        <br/>
        <span class="go goText"><a href="#">报名活动</a></span>
        <span class="go"><img src="__PUBLIC__/IndexImg/arrowAct2.png">&nbsp;</span>
    </div>


    <div id="bottom">

    </div>

</body>
</html>